<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> SportFreak (*-*)</title>
  {{ css('app') }}
  {{ css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}
  <style media="screen">

  body {
    background-color: rgba(149, 147, 152, 0.2);
  }

  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="" width="40" height="40" class="img-circle" style="position: relative;top: -10px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><i class="ti-search"></i></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

  <br/> <br/> <br/>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="well user-profile">
          <div class="profile-jersey"></div>
          <img src="https://avatars.io/twitter/habbeboy" alt="" width="100" height="100" class="img-circle image-profile" >

          <h3>Azeez Abiodun </h3>
          <p>Arsenal fan </p>
        </div>

        <div class="well nav-shortcut">
          <ul class="nav-link">
            <li class="first">
              Explore
            </li>
            <li>
                <a href="#"><i class="ti-home"></i>&nbsp;Trends</a>
            </li>
            <li>
                <a href="#"><i class="ti-user"></i>&nbsp;Groups</a>
            </li>
            <li>
                <a href="#"><i class="ti-comments"></i>&nbsp;Sport Quiz</a>
            </li>
            <li>
                <a href="#"><i class="ti-pulse"></i>&nbsp;Optinion Poll</a>
            </li>
          </ul>
        </div>

        <div class="well nav-shortcut">
          <ul class="nav-link">
            <li class="first">
              Sport News
            </li>
            <li>
                <a href="#">Trends</a>
            </li>
            <li>
                <a href="#">Groups</a>
            </li>
            <li>
                <a href="#">Sport Quiz</a>
            </li>
            <li>
                <a href="#">Optinion Poll</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <h5>Azeez Abiodun S.</h5>
          <textarea name="name" rows="2" class="form-control" placeholder="Whats up"></textarea>
          <p></p>
          <div class="row">
            <div class="col-md-10">
              <p></p>
              <p>
                <a href="#"><small><i class="ti-image"></i>&nbsp; Photo/Video</small></a>
              </p>
            </div>
            <div class="col-md-2">
              &nbsp; <button class="btn btn-primary btn-sm" name="button">Post </button>
            </div>
          </div>
        </div>
        <div class="well">
          <!-- <h5>Headline</h5> -->
          <div class="row border-bottom">
            <div class="pull-left">
              <img src="https://pbs.twimg.com/profile_images/907862284193730561/x5cF0jx9_normal.jpg" alt="" class="img-circle">
            </div>
            <div class="pull-left" style="margin-left: 10px;padding-top: 5px;">
              <b> Azeez Abiodun S.</b>
              <p>Arsenal Fan </p>
            </div>
            <div class="pull-right dropdown-menu-link">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="ti-angle-down"></span></a> &nbsp;&nbsp;
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
          <p></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <img src="https://pbs.twimg.com/media/DSNYCgxWsAAAoSy.jpg" class="img-thumbnail">
          <hr>
          <b>
          <a href="#">
            <i class="fa fa-thumbs-up"></i> <small>10</small>
          </a>
          &nbsp;
          <a href="#">
            <i class="fa fa-thumbs-down"></i> <small>0</small>
          </a>
          &nbsp;
          <a href="#">
            <i class="ti-comments"></i> <small>10</small>
          </a>
          </b>
        </div>
        <div class="well">
          <div class="row border-bottom">
            <div class="col-md-1">
              <img src="https://pbs.twimg.com/profile_images/907862284193730561/x5cF0jx9_normal.jpg" alt="" class="img-circle">
            </div>
            <div class="col-md-10" style="margin-left: 10px;padding-top: 5px;">
              <b> Azeez Abiodun S.</b>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <img src="https://pbs.twimg.com/media/DSovJuwX0AICQ9J.jpg" class="img-thumbnail" />
          <hr>
          <b>
          <a href="#">
            <i class="fa fa-thumbs-up"></i> <small>10</small>
          </a>
          &nbsp;
          <a href="#">
            <i class="fa fa-thumbs-down"></i> <small>0</small>
          </a>
          &nbsp;
          <a href="#">
            <i class="ti-comments"></i> <small>10</small>
          </a>
          </b>
        </div>


        <div class="well">
          <div class="row border-bottom">
            <div class="col-md-1">
              <img src="https://pbs.twimg.com/profile_images/907862284193730561/x5cF0jx9_normal.jpg" alt="" class="img-circle">
            </div>
            <div class="col-md-10" style="margin-left: 10px;padding-top: 5px;">
              <b> Azeez Abiodun S.</b>
              <p> Barca Fan </p>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <img src="https://pbs.twimg.com/media/DSm5QrZX4AAMaEO.jpg" alt="" class="img-thumbnail">
        </div>

      </div>
      <div class="col-md-3">
        <div class="well">
          <b>New Team Members</b>
          <hr>
          <a href="#"><img src="https://avatars.io/twitter/habbeboy" style="width: 30px;max-width: 100%" alt=""></a>
          <a href="#"><img src="https://avatars.io/twitter/habbeboy" style="width: 30px;max-width: 100%" alt=""></a>
        </div>
        <div class="well box-model">
          <b>Chat</b>
          <hr>
          <a href="#"><img src="https://avatars.io/twitter/habbeboy" style="width: 30px;max-width: 100%" alt=""></a>
          <a href="#"><img src="https://avatars.io/twitter/habbeboy" style="width: 30px;max-width: 100%" alt=""></a>
        </div>
        <div class="well">
          <b>Advert </b>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
